name = "dev-workflow"
type = "javascript"

account_id = "ACCOUNT_ID"
workers_dev = true
route = ""
zone_id = ""

vars = { ENVIRONMENT = "dev" }

[env.staging]
name = "dev-workflow-staging"
vars = { ENVIRONMENT = "staging" }


[env.production]
name = "dev-workflow-production"
vars = { ENVIRONMENT = "production" }
