name = "dev-workflow"
type = "javascript"

account_id = "__ACCOUNT_ID__"
workers_dev = true
route = ""
zone_id = ""

[vars]
ENVIRONMENT = "dev"
VERSION = "local"

[env.dev]
name = "dev-workflow-dev"
[vars.dev]
ENVIRONMENT = "dev"
VERSION = "__GIT_HASH__"

[env.staging]
name = "dev-workflow-staging"
[vars.staging]
ENVIRONMENT = "staging"
VERSION = "__GIT_HASH__"

[env.production]
name = "dev-workflow-production"
[vars.production]
ENVIRONMENT = "production"
VERSION = "__GIT_HASH__"
