name = "dev-workflow"
type = "webpack"
webpack_config = "webpack.config.js"

account_id = "__ACCOUNT_ID__"
workers_dev = true
route = ""
zone_id = ""

[vars]
ENVIRONMENT = "local"
VERSION = "local"

[env.dev]
name = "dev-workflow-dev"
[env.dev.vars]
ENVIRONMENT = "dev"
VERSION = "__GIT_HASH__"

[env.staging]
name = "dev-workflow-staging"
[env.staging.vars]
ENVIRONMENT = "staging"
VERSION = "__GIT_HASH__"

[env.production]
name = "dev-workflow-production"
[env.production.vars]
ENVIRONMENT = "production"
VERSION = "__GIT_HASH__"
